<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link rel="stylesheet" href="style.css">
</head>
<body>
      <div class="header">
            <nav class="navbar">
              <div class="navbar__logo">
                <i class='bx bx-menu' id="toggle" onclick='ShowSidebar(toggle)'></i>
                <span>Protm</span>
              </div>
              <div class="search">
                <input type="search" placeholder="Search..." />
                <button><i class='bx bx-search'></i></button>
              </div>
              <div class="other"></div>
            </nav>
          </div>
      <section class="sidebar" id="sidebar">
            <div class="sidebar__content">
              <div class="sidebar__lists">
                <div class="sidebar__list active">
                  <i class='bx bx-home-alt-2'></i>
                  <span>Home</span>
                </div>
                <div class="sidebar__list">
                  <i class='bx bx-home-alt-2'></i>
                  <span>All Orders</span>
                </div>
                <div class="sidebar__list">
                  <i class='bx bx-home-alt-2'></i>
                  <span>Trending</span>
                </div>
                <div class="sidebar__list">
                  <i class='bx bx-home-alt-2'></i>
                  <span>Categories<span>
                </div>
              </div>
              <div class="sidebar__bottom">
                <div class="sidebar__list">
                  <i class='bx bx-home-alt-2'></i>
                  <span>home</span>
                </div>
                <div class="sidebar__list">
                  <i class='bx bx-home-alt-2'></i>
                  <span>home</span>
                </div>
              </div>
            </div>
      </section>
      <section class="all_categories">
            <div class="categories__container">
                  <div class="categories__title">
                    <h1>All Categories</h1>
                  </div>
                  <div class="grid__container">
                      <div class="items purp">
                        <div class="left">
                          <h1>Whey Protein</h1>
              
                        </div>
                        <div class="right">
                          <img src="img/6487d36b1289ae5048245efc-gnc-pro-performance-100-percent-whey-removebg-preview.png" alt="">
                        </div>
                      </div>
                      <div class="items green">
                        <div class="left">
                          <h1>creatine</h1>
                     
                        </div>
                        <div class="right">
                          <img src="img/71TMsnrK9eL._SL1500_-removebg-preview.png" alt="">
                        </div>
                      </div>
                      <div class="items viol">
                        <div class="left">
                          <h1>Mass Gainers</h1>
                 
                        </div>
                        <div class="right">
                          <img src="img/muscletech-masstech-extreme-2000-removebg-preview.png" alt="">
                        </div>
                      </div>
                      <div class="items purp">
                        <div class="left">
                          <h1>Whey Protein</h1>
                        </div>
                        <div class="right">
                          <img src="img/6487d36b1289ae5048245efc-gnc-pro-performance-100-percent-whey-removebg-preview.png" alt="">
                        </div>
                      </div>
                      <div class="items pink">
                        <div class="left">
                          <h1>intra workout</h1>
                        </div>
                        <div class="right">
                          <img src="img/XTEND-removebg-preview.png" alt="">
                        </div>
                      </div>
                      <div class="items purp">
                        <div class="left">
                          <h1>Whey Protein</h1>
                        </div>
                        <div class="right">
                          <img src="img/6487d36b1289ae5048245efc-gnc-pro-performance-100-percent-whey-removebg-preview.png" alt="">
                        </div>
                      </div>
                      <div class="items  brown">
                        <div class="left">
                          <h1>Caffeine</h1>
                        </div>
                        <div class="right">
                          <img src="img/6000202286281-removebg-preview.png" alt="">
                        </div>
                      </div>
                      <div class="items purp">
                        <div class="left">
                          <h1>Whey Protein</h1>
                        </div>
                        <div class="right">
                          <img src="img/6487d36b1289ae5048245efc-gnc-pro-performance-100-percent-whey-removebg-preview.png" alt="">
                        </div>
                      </div>
                      <div class="items pink">
                        <div class="left">
                          <h1>intra workout</h1>
                        </div>
                        <div class="right">
                          <img src="img/XTEND-removebg-preview.png" alt="">
                        </div>
                      </div>
                      <div class="items purp">
                        <div class="left">
                          <h1>Whey Protein</h1>
                        </div>
                        <div class="right">
                          <img src="img/6487d36b1289ae5048245efc-gnc-pro-performance-100-percent-whey-removebg-preview.png" alt="">
                        </div>
                      </div>
                      <div class="items pink">
                        <div class="left">
                          <h1>intra workout</h1>
                        </div>
                        <div class="right">
                          <img src="img/XTEND-removebg-preview.png" alt="">
                        </div>
                      </div>
                      <div class="items purp">
                        <div class="left">
                          <h1>Whey Protein</h1>
                        </div>
                        <div class="right">
                          <img src="img/6487d36b1289ae5048245efc-gnc-pro-performance-100-percent-whey-removebg-preview.png" alt="">
                        </div>
                      </div>
                      <div class="items purp">
                        <div class="left">
                          <h1>Whey Protein</h1>
                        </div>
                        <div class="right">
                          <img src="img/6487d36b1289ae5048245efc-gnc-pro-performance-100-percent-whey-removebg-preview.png" alt="">
                        </div>
                      </div>
                      <div class="items yel">
                        <div class="left">
                          <h1>Pre Workout</h1>
                        </div>
                        <div class="right">
                          <img src="img/61w8dtvNwoL-removebg-preview.png" alt="">
                        </div>
                      </div>
                      </div>
            </div>
      </section>
</body>
</html>